body{
  width:100%;
  margin: 0 auto;
  font-family: 'Inter',sans-serif;
  background-color: white;  
}
.navbar{background-color: #ffffff !important;border-bottom: 1px solid black;box-shadow: 0 4px 0 rgba(0,0,0,0.1);padding-top:10px !important;position: fixed;width:100%;}
.navbar-brand{display: flex;justify-content: center;align-items: center;height: 50px !important;}
.brand-pa{display: flex;gap:20px;justify-content: center !important;align-items: center !important;}
.span-i{position: relative;}
.one{font-size: 6px;transform: scaleX(1.1);}
.two{font-size: 12px;transform: scaleX(0.5);left:2px;position: absolute;top:12px}
.three{font-size: 19px;transform: scaleX(0.3);left:3px;position: absolute;top:5px}
.brand-pa1{font-size: 18px;font-weight: bold;padding-top: 15px;}
.collapse{display: flex;justify-content: end;}
.navbar-nav{display: flex;gap:20px}
.nav-link{color: black;}
.nav-link.active{text-decoration: underline;color:#2b8cee !important;}
.home-btn{width:80px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;}

footer{width:100%;background-color: #6584a2;color:white;padding: 10px;}
.foot-link{color:white;text-decoration: none;}
.foot-card{display: flex;justify-content: space-between;align-items: center;margin-bottom: 10px;}
.foot-card1{display: flex;justify-content: center;align-items: center;gap:15px;margin-bottom: 20px;}
.foot-card1 i{color:transparent;-webkit-text-stroke: 1px white;}
.foot-card2{display: flex;justify-content: center;align-items: center;font-size: 14px;}

.home-card{margin-top: 80px;height: 800px;background-image: url(./images/frame1.jpg);background-position: center;background-repeat: no-repeat;background-size: contain;width: 100%;display: flex;justify-content: center;align-items: center;color: white;flex-direction: column;margin-bottom: 50px;}
.home-btn1{width:90px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;font-size: 13px;}
.home-card h2{font-weight: bolder;padding: 0 320px;text-align: center;}
.home-card p{font-size: 13px;margin-bottom: 30px;}
.home-card1{margin-top: 50px;display: flex;flex-direction: column;margin-bottom: 50px;}
.home-card1 h3{font-weight: bold;}
.home-card2{display: flex;justify-content: space-between;margin-bottom: 50px;}
.home-card3{border: 1px solid black;padding: 10px;border-radius: 5px;width:230px;box-shadow: 0 3px 10px rgba(0,0,0,0.1);margin-bottom: 50px;background-color: #f5f7f9;}
.home-card3 h6{margin-top: 5px;font-weight: bold;}
.home-card3 p{font-size: 13px;color: #3b6895;}

.login-card{display: flex;justify-content: center;align-items: center;margin-top: 80px;width:100%;background-color: #081D32;margin-bottom:50px;height:100vh;}
.login-card form{display: flex;flex-direction: column;gap:50px;width:40%;}
.login-card form input{width:100%;height: 35px;border: none;border-radius: 10px;padding: 0 10px;}
.login-card form select{width:100%;height: 35px;border: none;border-radius: 10px;padding: 0 10px;font-size: 12px;color: rgb(137, 134, 134);}
.login-card form input::placeholder{font-size: 12px;}
.home-btn2{width:200px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;}


.admin-card{margin-top: 100px;margin-bottom: 50px;}
.admin-card h3{font-weight: bold;}
.admin-card p{color: #03488d;font-size: 12px;}
.admin-card1{display: flex;gap:30px;margin-bottom: 50px;}
.admin-card2{border: 1px solid black;padding: 10px;border-radius: 5px;width:230px;box-shadow: 0 3px 10px rgba(0,0,0,0.1);margin-bottom: 50px;background-color: #dfe6ec;line-height: 1;font-size: 14px;display: flex;justify-content: center;flex-direction: column;}
.count-pa{font-size: 20px;font-weight: bold;}
.admin-card3{display: flex;gap:30px;margin-bottom: 50px;}
.home-btn3{width:130px;border: none;height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;}
.home-btn3:hover{background:linear-gradient(to right,#429af2,#081D32);color: white;}
.admin-h5{margin-bottom: 30px;font-weight: bold;}
.admin-card4{display: flex;gap:20px;margin-bottom: 50px;}
.admin-card5{display: flex;flex-direction: column;justify-content: center;align-items: center;height: 200px;}
.admin-card6{display: flex;flex-direction: column;height: 200px;}
.admin-card5 span{height: 70px;width: 2px;background-color: lightgray;}
.div-admin h6{font-size: 15px;font-weight: 600;}
.div-admin p{font-size: 13px;color: #03488d;}
.div-admin{line-height: 1px;margin-bottom: 40px;}

.ad-te-card{display: flex;justify-content: space-between;margin-bottom: 30px;}
.ad-te-card h3{margin-top: 120px;}
.ad-te-card1 table{border: 1px solid black;width:100%;margin-bottom: 50px;}
.ad-te-card1 table th{height: 50px;padding: 10px;border-bottom: 1px solid black;box-shadow: 0 2px 0 rgba(0,0,0,0.1);}
.ad-te-card1 table td{height: 80px;padding: 10px;font-size: 14px;border-top: 1px solid #bad8f5;}
.td1{font-weight: bold;color: #2b8cee !important;}
.home-btn4{border: none;background-color: white;color: #2b8cee;font-weight: bold;}
.ad-te-card2 button{border: none;background-color: white;color:#6584a2;font-weight: bold;}
.ex-pa-btn{border: none;height: 30px;border-radius: 10px;width:120px}

.ad-at-card{display: flex;margin-top: 120px;margin-bottom: 30px;flex-direction: column;}
.ad-at-card p{font-size: 16px;font-weight: bold;margin-top: 30px;}
.ad-at-card input{width:100%;height: 30px;border-radius: 5px;background-color: rgb(245, 243, 243);border: 1px solid black;}
.ad-at-card1 table{border: 1px solid black;width:100%;margin-bottom: 50px;}
.ad-at-card1 table th{height: 50px;padding: 10px;border-bottom: 1px solid black;box-shadow: 0 2px 0 rgba(0,0,0,0.1);}
.ad-at-card1 table td{height: 80px;padding: 20px;font-size: 14px;border-top: 1px solid #bad8f5;}
.att-btn{width:200px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;margin-left: 80%;margin-bottom: 50px;}

.ad-te-card2{display: flex;gap:15px;font-weight: bold;font-size: 14px;text-decoration: underline;margin-bottom: 30px;}
.ad-p1{color: #6584a2;}
.ex-h6{font-weight: bold;margin-bottom: 30px;}
.ad-te-card3{width: 100%;overflow-x: auto;}
.ad-te-card3 table{border: 1px solid black;width:100%;margin-bottom: 50px;}
.ad-te-card3 table th{height: 50px;padding: 10px;border-bottom: 1px solid black;box-shadow: 0 2px 0 rgba(0,0,0,0.1);}
.ad-te-card3 table td{height: 80px;padding: 20px;font-size: 14px;border-top: 1px solid #bad8f5;color: #6584a2;}
.ex1{color: black !important;}
.ex-p{margin-bottom: 50px;color: #6584a2;}

.ad-set{background-color: rgb(245, 251, 253);margin: 20px 50px;padding: 20px;box-shadow: 0 3px 20px rgba(0,0,0,0.1);margin-bottom: 50px;}
.ad-set1{display: flex;margin-bottom: 30px;justify-content: space-between;}
.ad-set1 div{display: flex;gap:20px;}
.right{margin-left: 70%;}
.ad-set1 p span{color: #6584a2;font-size: 12px;}
.log-btn{border: none;background-color: transparent;}

.te-card{display: flex;gap:20px}
.teach-btn{width:150px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;margin-bottom: 50px;}
.teach-btn1{width:150px;border: none;background-color: rgb(216, 237, 251);height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;margin-bottom: 50px;}
.te-card1{display: flex;justify-content: center;align-items: center;background-color: rgb(168, 189, 203);font-weight: bold;height: 65px;border-radius: 10px;margin-bottom: 50px;}
.te-card2{display: flex;justify-content: space-evenly;}
.te-card3{border: 1px solid black;padding: 5px;border-radius: 5px;margin-bottom: 80px;display: flex;flex-direction: column;gap:10px}
.te-card3 img{height: 150px;margin-bottom: 5px;}
.te-card3 p{color: #6584a2;line-height: 1;font-size: 13px;margin-bottom: 5px;}
.classli{font-size: 11px;}
.te-card3 h6{font-weight: bold;margin-top: 10px;}
.te-card4{display: flex;gap: 10px;margin-bottom: 80px;}
.te-card4 img{height: 150px;}
.te-card4 div h6{font-weight: bold;font-size:13px;margin-top: 10px;}
.te-card4 div p{color: #6584a2;font-size: 11px;}
.te-at{display: flex;gap:20px;margin-left: 50%;}
.te-at1{display: flex;gap:20px;margin-left: 60%;}
.teach-btn2{width:150px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;margin-bottom: 50px;margin-left: 70%;}
.te-card-img{height: 200px;width: 40%;object-fit: cover;margin-bottom: 50px;}
.rep-btn{width:120px;font-size: 13px;border: none;font-weight: 600;border-radius: 10px;height: 30px;}
.rep-btn span{margin-left: 5px;}
.te-div h6{font-weight: bold;margin-top: 20px;}
.te-div p{color: #6584a2;font-size: 14px;margin-bottom: 30px;}
.te-div{margin-bottom: 50px;}
.te-pro{display: grid;grid-template-columns: repeat(2, 1fr);width:50%;gap:10px;margin-bottom: 50px;}
.te-pro p{margin-bottom: 0;}
.te-pro input{border: none;border-radius: 10px;box-shadow: 0 4px 0 rgba(0,0,0,0.1);background-color: #f3f9fe;margin-bottom: 20px;}
.te-pro1{display: flex;gap:20px}

.te-pro2{display: flex;flex-direction: column;line-height: 1;margin-bottom: 50px;}
.st-pa{color: #6584a2;}
.te-pro3{display: grid;grid-template-columns: repeat(2,1fr);width:50%;}
.st-fe{display: flex;justify-content: space-between;margin: 20px;margin-bottom: 50px;}
.st-fe1{border: 1px solid black;width:250px;border-radius: 10px;display: flex;flex-direction: column;justify-content: left;line-height: 1;padding:20px;font-weight: bold;}
.st-fep{font-size: 13px;}
.st-btn1{width:200px;border: none;background-color: rgb(216, 237, 251);height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;margin-bottom: 50px;}
.st-at{display: flex;gap:20px}
.count-pa1{color: #6584a2;font-size: 12px;}
.count-pa2{color: red;font-size: 12px;}
.student-card{display: flex;justify-content: space-evenly;}
.student-card1{border: 1px solid black;padding: 10px;border-radius: 5px;width:300px;box-shadow: 0 3px 10px rgba(0,0,0,0.1);margin-bottom: 50px;background-color: #dfe6ec;line-height: 1;font-size: 14px;display: flex;justify-content: center;flex-direction: column;}
.st-sub{color: #6584a2;font-size: 12px;}
.st-act .btn{width:100px;border: none;background-color: green;height: 35px;border-radius: 10px;color: white;font-weight: bold;}
.about-card{margin-top: 100px;margin-bottom: 30px;font-weight:600;}
.about-card h3{font-weight: bold;margin-bottom: 30px;}
.about-card1{margin-top: 100px;margin-bottom: 30px;font-weight: 600;}
.about-card1 h5{font-weight: bold;margin-bottom: 30px;}
.fe-card{margin-top: 100px;margin-bottom: 30px;font-weight:600;}
.fe-card h4{font-weight: bold;margin-bottom: 30px;}
.fe-card1{margin-top: 100px;margin-bottom: 30px;font-weight: 600;}
.fe-card1 h6{font-weight: bold;margin-bottom: 20px;font-size: 20px;}
.co-card{margin-top: 100px;margin-bottom: 50px;}
.co-card h4{font-weight: bold;}
.co-card p{color: #6584a2;font-size: 13px;font-weight: 600;}
.co-card1 h6{font-weight: bold;margin-bottom: 30px;font-size: 21px;}
.co-card2{display: grid;grid-template-columns: repeat(2,1fr);width:500px;font-size: 14px;font-weight: bold;margin-bottom: 30px;}
.co-pa{color: #6584a2;margin-bottom: 5px;}
.co-card3{display: flex;flex-direction: column;font-size: 14px;font-weight: bold;margin-bottom: 50px;}
.co-card1 form input{border: 1px solid #2b8cee;background-color: #ecf0f4;border-radius: 5px;height: 40px;width:40%;margin-bottom: 20px;}
.co-card1 form p{margin-bottom: 5px !important;font-weight: bold;}
.co-card1 form textarea{border: 1px solid #2b8cee;background-color: #ecf0f4;border-radius: 5px;height: 120px;width:40%;margin-bottom: 20px;resize: none;}
.con-btn{width:150px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;margin-bottom: 50px;}

.st-h5{font-weight: bold;margin-bottom: 20px;}
.st-pro-btn{width:150px;height: 40px;border: none;font-weight: bold;border-radius: 10px;}
.ad-st-pro{display: flex;gap:10px}
.ad-img{width:120px;}
.ad-st-pro1{margin-top: 30px;}
.ad-st-pro1 p{font-size: 14px;margin-bottom: 0;color: #6584a2;}
.ad-st-pro1 h6{font-weight: bold;}
.st-pro-card{display: flex;justify-content: space-evenly;margin-bottom: 50px;}
.st-pro-card1{border: 1px solid black;width:300px;height: 100px;padding: 15px;border-radius: 10px;box-shadow: 0 3px 0 rgba(0,0,0,0.1);}
.st-pro-card1 h6{font-weight: bold;font-size: 22px;margin-top: 0;}
.st-pro-card1 p{font-size: 14px;margin-bottom: 5px;}
.st-pro-btn1{width:150px;border: none;background:linear-gradient(to right,#429af2,#081D32);color: white;height: 35px;border-radius: 10px;font-size: 13px;font-weight: bold;margin-bottom: 50px;margin-left: 70%;}




@media (max-width:730px){.home-card2{flex-direction: column;}.home-card h2{padding:0 50px;}.admin-card1,.admin-card3{flex-direction: column;}.att-btn{margin-left: 50%;}.home-card{margin-top: 80px;margin-bottom: 10px !important;width: 100%;height: 500px;}.home-card img{height: 100%;object-fit: contain;} .home-card1{margin-top: 10px !important;}.te-card2{flex-direction: column;}.te-card3{flex-direction: row;width: 80%;}.te-at{margin-left: 30%;}.te-at1{flex-direction: column;}.te-pro3{width:80%}.st-fe{flex-direction: column;gap:20px}.student-card{flex-direction: column;}.st-pro-card{flex-direction: column;gap:10px}}
@media (min-width:731px) and (max-width:1024px){.home-card2{flex-wrap: wrap;}.home-card h2{padding:0 150px;}.admin-card1,.admin-card3{flex-wrap: wrap;}.att-btn{margin-left: 70%;}.te-pro3{width:80%}.student-card1{width: 200px;}.st-pro-card1{width:200px}}



